/** Search form */
.search-form {

  @apply w-full max-w-xl mx-auto flex flex-wrap;

  &>label {
    @apply block;
    flex-grow: 1;
  }

  .search-field {
    @apply block w-full border border-solid border-gray-600 px-3 py-2 text-lg;
  }

  .search-submit {
    @extend .btn;
  }

}


.gform_wrapper {
  // Text
  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    @apply border border-solid border-gray-600 px-3 py-1;
  }

  .chosen-container .chosen-choices {
    @apply border border-solid border-gray-600 px-3 py-1;
    background-image: none;
  }
}
