.woocommerce-cart-form {
  table.cart {
    @apply w-full;

    thead th {
      @apply py-2;
    }

    tbody tr {
      @apply border-b border-solid border-gray-600;

      &:first-child {
        @apply border-t;
      }

      &:last-child {
        @apply border-none;
      }
    }

    td {
      @apply px-2 py-4;

      &:first-child {
        @apply pl-0;
      }

      &:last-child {
        @apply pr-0;
      }
    }
  }

  td.product-remove>a {
    @apply text-red-600 text-4xl;
    background-image: none;
  }

  td.product-thumbnail {
    &>a {
      @apply block;
      background-image: none;
    }

    img {
      @apply w-24;
    }
  }

  td.product-name {
    a {
      @apply text-lg;
    }

    .variation {
      @apply mt-3;

      dt {
        @apply italic text-sm underline;
      }

      dt,
      dd,
      dd>p {
        @apply inline;
      }

      dd {
        @apply pr-2;
      }
    }
  }

  td.product-subtotal {
    @apply text-right;
  }

  td.actions {
    @apply text-right;
  }

  input {
    @apply border-solid border border-gray-100 px-2 py-1 w-full;
    max-width: 12rem;
  }

  @screen sm {
    td.product-remove>a {
      @apply px-4;
    }

    td.product-quantity {
      max-width: 7rem;
    }
  }

  @screen xs-max {
    tr {
      @apply grid;
    }

    td,
    th {
      @apply block;
    }

    thead {
      @apply hidden;
    }

    tbody {
      tr {
        grid-template-columns: 5rem auto auto 2rem;

        td {
          @apply p-0;

          &.product-remove {
            @apply col-start-4;
          }

          &.product-thumbnail {
            @apply row-span-2 row-start-1 col-start-1;
          }

          &.product-name {
            @apply col-span-2 col-start-2 row-start-1;
          }

          &.product-price {
            @apply col-span-2 col-start-3;
          }

          &.product-quantity {
            @apply col-start-2 row-start-2;
          }

          &.product-subtotal {
            @apply hidden;
          }

          &[colspan] {
            @apply col-span-4;
          }
        }
      }
    }
  }
}

.cart_totals {
  @apply text-right mt-6;

  h2 {
    @apply text-2xl;
  }

  .shop_table {
    @apply w-full max-w-lg ml-auto my-4;

    tbody {
      tr {
        @apply border-b border-solid border-gray-600;

        td {
          @apply py-2;
        }
      }
    }
  }
}

.cart-collaterals {
  .wc-proceed-to-checkout {
    @apply py-4 flex justify-between items-center flex-wrap;

    &>* {
      @apply my-3;
    }

    .checkout-button {
      @apply px-8 py-4 text-xl flex items-center;

      svg {
        @apply text-3xl ml-3;
      }
    }
  }
}


/* lazy! hide the shipping method description here*/
body.cart .cart_totals .alg_wc_shipping_description {
  @apply hidden;
}
